body {
  background-color: white; 
  font-family: Times;
  font-size: 12px
}
h1, h3, h4, p {
  color: black;
} 
article {
  width: 50vw;
  mix-blend-mode: normal; 
  color: black;
  column-count: 4;
  column-width: 300px
}
ul {list-style-type: none}
a {color: blue; text-decoration:none}
a:hover {background-color:green; cursor:alias}
#caption {
  background-color: yellow;
  display: block;
  position: fixed;
  top: 75vh;
  right: 10vw;
  width: 30vw;
}
